.main1{
  height: 100vh;
  background-image: linear-gradient(rgba(247, 241, 241, 0.7), rgba(140, 131, 131, 0.7)),
  url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    color: whitesmoke;
}


.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.9) 90%),
                url('https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bca1-07e3f8eb14af/6a53239e-9907-4222-92a0-4a816719b0f4/IN-en-20220502-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid var;
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    align-items: center;
}

.logo { width: 160px; }

.lang-dropdown {
    background: rgba(0,0,0,0.5);
    color: white;
    border: 1px solid #555;
    padding: 5px 15px;
    border-radius: 4px;
    margin-right: 15px;
}

.btn {
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-signin { background: var(--netflix-red); color: white; }

.hero-content {
    text-align: center;
    margin-top: 120px;
    padding: 0 20px;
}

.hero-content h1 { font-size: 60px; font-weight: 900; margin-bottom: 15px; }
.hero-content p { font-size: 30px; margin-bottom: 30px; }

.cta-input-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.cta-input-group input {
    width: 400px;
    padding: 18px;
    background: rgba(22, 22, 22, 0.7);
    border: 1px solid #555;
    color: white;
    border-radius: 4px;
    font-size: 1px;
}

    .btn-get-started {
        color: red  ;
        font-size: 1.5rem;
        padding: 12px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.pictures {
  display: flex;
  gap: px;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.card {
  width: 200px;
  height: 300px;
  
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


body {
  background-color: black; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 40px;
}

.features-container {
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
   color: black;
}

.card {
  flex: 1;
  min-width: 250px;
  min-height: 280px;
  border-radius: 16px;  
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
    transition: 0.3s;
  color: whitesmoke;
   
}

.card:hover{
    transform: translateY();
    transform: scale(1.1);
      background: whitesmoke; 
    color: black; 
}

.card h3 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;

}

.card p {
  line-height: 1.5;
  font-size: 1rem;
}

.icon-wrapper {
  align-self: flex-end;
  font-size: 40px;
  background: linear-gradient(to bottom right, #ff306e, #501d80);
}

.icon-download {
  border: 2px solid #ff306e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 25px;
}

.accordion {
    list-style: none;
    width: 100%;
}

.accordion li {
    margin-bottom: 8px; 
}

.accordion input[type="checkbox"] {
    display: none;
}

.question {
    background: #2d2d2d; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
}

.question:hover {
    background: #414141;
}

.plus-icon {
    font-size: 35px;
    font-weight: 300;
    transition: transform 0.3s ease;
}

.answer {
    background: #2d2d2d;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    margin-top: 1px;
}

.answer p {
    padding: 0 25px 25px;
    font-size: 1.1rem;
    line-height: 1.5;
    color:white
}

.accordion input[type="checkbox"]:checked ~ .answer {
    max-height: 600px;
}


.accordion input[type="checkbox"]:checked ~ .question .plus-icon {
    transform: rotate(45deg);
}

.email-section {
    text-align: center;
    margin-bottom: 80px;
}

.email-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.input-group input {
    flex: 1;
    padding: 18px;
    background: rgba(22, 22, 22, 0.7);
    border: 1px solid #555;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
}

.input-group button {
    background-color: #e50914; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.input-group button:hover {
    background-color: #c11119;
}

.footer {
    width: 1000px;
    margin: 0 auto;
    color: #b3b3b3; 
    font-size: 0.9rem;
    padding-left: 50px;
    padding-bottom: 80px;
}

.footer-top {
    margin-bottom: 30px;
}

.footer a {
    color: #b3b3b3;
    text-decoration: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    margin-bottom: 30px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 12px;
}

.footer-links ul li a {
    text-decoration: underline;
    font-size: 0.85rem;
}

.language-btn select {
    background: #000;
    color: white;
    padding: 8px 25px;
    border: 1px solid #555;
    border-radius: 4px;
    margin-bottom: 25px;
}

.footer-country {
    margin-bottom: 15px;
}

.footer-captcha {
    font-size: 0.75rem;
}
